build
build.log
tmp
._*
.DS_Store
delivery/xControl.apk

srcGraphics/XcontrolIconTemplate/App Icon Template3.2.atn

srcGraphics/XcontrolIconTemplate/App Icon Template3.2.psd

srcGraphics/XcontrolIconTemplate/readme.rtf

srcGraphics/button-nav.zip

srcGraphics/metal-slider.zip

srcGraphics/png/Icon1024x1024.png

srcGraphics/png/splash1024x748.png

srcGraphics/png/splash240x400.png

srcGraphics/png/splash320x240.png

srcGraphics/png/splash320x480.png

srcGraphics/png/splash400x240.png

srcGraphics/png/splash480x320.png

srcGraphics/png/splash480x800.png

srcGraphics/png/splash640x1136.png

srcGraphics/png/splash640x480.png

srcGraphics/png/splash640x960.png

srcGraphics/png/splash768x1004.png

srcGraphics/png/splash800x480.png

srcGraphics/png/x.png

srcGraphics/splash320x480.psb

srcGraphics/x.psd

mockups/DBDesign.xlsx

mockups/DatabaseSQL

mockups/FloorPlan.bmml

mockups/FloorPlan.png

mockups/HomeControlMockup.bmml

mockups/Settings.bmml

mockups/TemplateiPadControls.bmml

mockups/assets/FloorPlan.png

mockups/assets/symbols.bmml
/delivery/
/mockups/
/releases/
