<Alloy>
    <Window id="settingsWin" class="vertical" title="Settings">
		<Menu platform="android">
			<MenuItem title="Save and Close" onClick="closeWin" showAsAction="Ti.Android.SHOW_AS_ACTION_ALWAYS" />
		</Menu>
		
        <TableView class="tableview-form" platform="ios">
            <TableViewSection>
                <TableViewRow><View class="view-row-separator"/></TableViewRow>
                <TableViewRow><Button id="changeNetworkBtn"></Button></TableViewRow>
            </TableViewSection>
            <TableViewSection>
                <HeaderView>
                    <View class="view-headerview-form" >
                        <Label class="label-tableviewsection-header" text="SETTINGS" />
                        <View class="view-row-separator" />
                    </View>
                </HeaderView>
                <TableViewRow><TextField id="server" inputType="text" title="" hintText="Server IP/DNS" /></TableViewRow>
                <TableViewRow><TextField id="method" inputType="text" title="" hintText="HTTP or HTTPS" /></TableViewRow>
                <TableViewRow><TextField id="port" inputType="text" title="" hintText="Port" /></TableViewRow>
                <TableViewRow><TextField id="username" inputType="text" title="" hintText="Username" /></TableViewRow>
                <TableViewRow><TextField id="password" inputType="text" title="" hintText="Password" passwordMask="true"/></TableViewRow>
                <TableViewRow><View class="view-row-separator"/></TableViewRow>
            </TableViewSection>
            <TableViewSection>
                <TableViewRow><Button id="getListOfDevicesBtn">Update Devices</Button></TableViewRow>
                <TableViewRow><Button id="clearData">Clear Data</Button></TableViewRow>
                <TableViewRow><Button id="closeBtn" onClick="closeWin">Save and Close</Button></TableViewRow>
            </TableViewSection>
        </TableView>
        <ScrollView class="tableview-form" platform="android">
            <Button id="changeNetworkBtn"></Button>
            <View class="view-row-separator"/>
            <Label class="label-tableviewsection-header" text="SETTINGS" />
            <View class="row-container">
                <Label class="label-title">Server</Label>
                <TextField id="server" class="form-textField" inputType="text" hintText="Server IP/DNS" />
            </View>
            <View class="row-container">
                <Label class="label-title">Method</Label>
                <TextField id="method" class="form-textField" inputType="text" hintText="HTTP or HTTPS" />
            </View>
            <View class="row-container">
                <Label class="label-title">Port</Label>
                <TextField id="port" class="form-textField" inputType="text" hintText="Port" />
            </View>
            <View class="row-container">
                <Label class="label-title">Username</Label>
                <TextField id="username" class="form-textField" inputType="text" hintText="Username" />
            </View>
            <View class="row-container">
                <Label class="label-title">Password</Label>
                <TextField id="password" class="form-textField" inputType="text" hintText="Password" passwordMask="true"/>
            </View>
            <View class="view-row-separator"/>
            <Button id="getListOfDevicesBtn">Update Devices</Button>>
            <Button id="clearData">Clear Data</Button>
        </ScrollView>
    </Window>
</Alloy>

