<Alloy>
    <Window id="settingsWin" class="vertical" title="Settings">
		<Menu platform="android">
			<MenuItem title="Save and Close" onClick="closeWin" showAsAction="Ti.Android.SHOW_AS_ACTION_ALWAYS" />
		</Menu>
		
        <TableView class="tableview-form" platform="ios">
            <TableViewSection>
                <TableViewRow><View class="view-row-separator"/></TableViewRow>
                <TableViewRow layout="vertical">
	                	<TabbedBar id="switchConnectionBar" platform="ios" backgroundColor="#369">
				            <Labels>
				                <Label>Local</Label>
				                <Label>Remote</Label>
				            </Labels>
				        </TabbedBar>
				        <Label id="currentConnectionLbl"></Label>
        		</TableViewRow>
            </TableViewSection>
            <TableViewSection>
                <HeaderView>
                    <View class="view-headerview-form" >
                        <Label class="label-tableviewsection-header" text="SETTINGS" />
                        <View class="view-row-separator" />
                    </View>
                </HeaderView>
                <TableViewRow><TextField id="server" inputType="text" title="" hintText="Server IP/DNS" /></TableViewRow>
                <TableViewRow>
                		<TabbedBar left="10" top="2" id="switchHttpBar" platform="ios" backgroundColor="#369">
				            <Labels>
				                <Label>HTTP</Label>
				                <Label>HTTPS</Label>
				            </Labels>
				        </TabbedBar>
		        </TableViewRow>
                <TableViewRow><TextField id="port"  top="2" inputType="text" title="" hintText="Port" /></TableViewRow>
                <TableViewRow><TextField id="username" inputType="text" title="" hintText="Username" /></TableViewRow>
                <TableViewRow><TextField id="password" inputType="text" title="" hintText="Password" passwordMask="true"/></TableViewRow>
                <TableViewRow><View class="view-row-separator"/></TableViewRow>
            </TableViewSection>
            <TableViewSection>
                <TableViewRow><Button id="getListOfDevicesBtn">Query ISY for Devices</Button></TableViewRow>
                <TableViewRow><Button id="clearData">Clear Data</Button></TableViewRow>
                <TableViewRow><Button id="closeBtn" onClick="closeWin">Save and Close</Button></TableViewRow>
            </TableViewSection>
        </TableView>
        <ScrollView class="tableview-form" platform="android">
        	        	
        	<View layout="horizontal" top="10" left="25%" height="50" width="Ti.App.SIZE">
	            <Button id="localConnectionBtn" onClick="changeNetwork">Local</Button>
            	<Button id="remoteConnectionBtn" onClick="changeNetwork">Remote</Button>
        	</View>

        	<Label id="currentConnectionLbl"></Label>
            <View class="view-row-separator"/>
            <Label class="label-tableviewsection-header" text="SETTINGS" />
            <View class="row-container">
                <Label class="label-title">Server</Label>
                <TextField id="server" class="form-textField" inputType="text" hintText="Server IP/DNS" />
            </View>
            <View class="row-container">
				<View layout="horizontal" left="10" height="50" width="Ti.App.SIZE">
		            <Button id="httpBtn" onClick="changeHttp">http</Button>
	            	<Button id="httpsBtn" onClick="changeHttp">https</Button>
	        	</View>
            </View>
            <View class="row-container">
                <Label class="label-title">Port</Label>
                <TextField id="port" class="form-textField" inputType="text" hintText="Port" />
            </View>
            <View class="row-container">
                <Label class="label-title">Username</Label>
                <TextField id="username" class="form-textField" inputType="text" hintText="Username" />
            </View>
            <View class="row-container">
                <Label class="label-title">Password</Label>
                <TextField id="password" class="form-textField" inputType="text" hintText="Password" passwordMask="true"/>
            </View>
            <View class="view-row-separator"/>
            <Button id="getListOfDevicesBtn">Query ISY for Devices</Button>>
            <Button id="clearData">Clear Data</Button>
        </ScrollView>
    </Window>
</Alloy>

